table,th,td{
    border: 1px solid black;
    background-color: blanchedalmond;
    border-collapse: collapse;
    font-size: 25px;
}
th{
    background-color: orange;
}
#tr{
    border: solid;

}
    